html{
	height:100%;
}

body{
        font-family: Monospace;
        background-color: #f0f0f0;
        margin: 0px;
        overflow: hidden;
        height: 100%;
      }

canvas{
	height: 100%;
	width: 100%;
}

.ui{
	z-index: 1000;
	font-style: normal;
	vertical-align: middle;
	line-height: 39px;
	text-align:center;
	font-size: 30px;
}

.floorSelector{
	width: 45px;
	height:180px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 30px;
}

.floor.selected{
	background-color:#222;
	color: #ddd;
}

.debug{
	background:rgba(220, 220, 220, 0.5);
	color:#000;
	width:70%;
	height: 85%;
	margin: 60px auto;
	z-index: 1050;
	font-size: 20px;
	text-align:left;
	overflow:scroll;
}

.button{
	z-index:1050;
	margin: 3px 3px;
	width: 39px;
	height: 39px;
	background-color:#ddd;
	color: #222;
	border-color: #222;
	border: 1px 1px 1px 1px;
}

#back{
	background-color: #f9f;
	position: absolute;
	left: 10px;
	top: 30px;
}

#play{
	background-color: #9ff;
	position: absolute;
	right: 10px;
	top: 30px;
}
